@import url('Reset.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --moderate-blue: hsl(238, 40%, 52%);
    --soft-red: hsl(358, 79%, 66%);
    --light-grayish-blue: hsl(239, 58%, 85%);
    --pale-red: hsl(357, 100%, 86%);
    --dark-blue: hsl(212, 24%, 26%);
    --grayish-blue: hsl(211, 10%, 45%);
    --light-gray: hsl(223, 19%, 93%);
    --very-light-gray: hsl(228, 33%, 97%);
    --white: hsl(0, 0%, 100%);
}

/* General Styling */
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-gray);
}

.container {
    padding-top: 32px;
    max-width: 375px;
    margin: 0 auto;
}
.clear {
    content: "";
  clear: both;
  display: block;
}

<<<<<<< HEAD
/* W: 343 H: 255*/
/* Comments */
.comment {
    background-color: var(--white);
    border-radius: 6px;
    display: grid;
    grid-template-areas: 
        "title title title title"
        "content content content content"
        "content content content content"
        "votes . . actions";
    padding: 20px;
    grid-row-gap: 15px;
    margin-bottom: 16px;
}

.title {
    grid-area: title;
    align-self: center;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.title img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.title .username {
    color: var(--dark-blue);
}

.title .user {
    font-size: 14px;
    padding: 5px;
    border-radius: 2px;
    background-color: var(--moderate-blue);
    color: var(--white);
}

.title .publication-date {
    color: var(--grayish-blue);
}

.content { 
    grid-area: content;
    align-self: center;
    line-height: 1.5;
    color: var(--grayish-blue);
}

.votes {
    display: flex;
    grid-area: votes;
    background-color: var(--light-gray);
}

.votes li {
    align-self: center;
    color: var(--moderate-blue);
    padding: 12px;
    cursor: pointer;
}

.votes {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.actions {
    grid-area: actions;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
    display: flex;
}

.actions img {
    vertical-align: middle;
}

.actions span {
    margin: 0 16px 0 10px;
}

.actions span:last-child {
    margin: 0 0 0 10px;
}

.actions span:hover {
    color: var(--light-grayish-blue);
}


.actions img[alt^="Delete"] + span {
    color: var(--soft-red);
}

.actions img[alt^="Reply"] + span {
    color: var(--moderate-blue);
=======
/* Comment-section */

div.add-comment-container {
    margin:auto 17px auto 17px;
    padding: 14px;
    background-color: var(--white);
}

.comment {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 10px;
    padding-top: 12px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: none;
}

img.avatar-image {
    width: 44px;
    height: 44px;
}

input.send {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #5358b6;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    float: right;
}

.comment-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
>>>>>>> ef4cc0912ba66dda1f7041d9c77158f4104e5df4
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 730px;
    }
<<<<<<< HEAD

    .comment {
        grid-template-areas: 
        "votes title . actions"
        "votes content content content"
        "votes content content content"
        ". . . .";
    }

    .votes {
        flex-direction: column;
        margin-right: 20px;
    }
=======
    form.comment-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .comment {
        margin-left: 20px;
        margin-right: 20px;
        margin: auto 20px auto 20px;
        resize: none;
    }
    img {
        order: 1;
    }
    textarea {
        order: 2;
    }
    input {
        order: 3;
    }


>>>>>>> ef4cc0912ba66dda1f7041d9c77158f4104e5df4
}